extends browser.pug
block content
  ul.listing
    for directory in directories
      li.directory
        a(href=directory.path)
          span.title= directory.filename
          span.metadata
            span.updated= formatDate(directory.updated)
    for file in files
      li.file
        a(href=file.path)
          span.title= file.filename
          span.metadata
            span.updated= formatDate(file.updated)
            span.size= file.size
            if file.hasSubtitle
              span.subtitle(title='has subtitle')
