mixin listingWidget(files, directories)
  ul.listing.text
    for directory in directories
      li.directory
        a(href=directory.path)
          span.title= directory.filename
          span.metadata
            span.updated= formatDate(directory.updated)
    for file in files
      li.file(class=file.selected ? 'selected' : '')
        span.title
          a(href=file.path)= file.filename
        span.metadata
          if file.hasSubtitle
            span.subtitle(title='has subtitle')
              span.content
          ul.encodes
            for encode in file.encodes
              li.encode.other
                a.content(href=file.path + '#' + encode.name)
                  span.name= encode.name
                  span.size= formatSize(encode.size)
            li.encode.original
              span.content
                span.name= 'Original'
                span.size= formatSize(file.size)
          span.updated= formatDate(file.updated)
