extends browser.pug
block content
  #playback-container
    .aspect-ratio
      video#playback(autoplay autostart controls width='100%')
        for mp4File in mp4Files
          source(src=mp4File.path name=mp4File.encoding type='video/mp4')
        for vttFile in vttFiles
          track(src=vttFile.path kind='subtitles' srclang=vttFile.lang label=vttFile.label)
  ul.encoding-list.list-strip.text
    for mp4File in mp4Files
      li.encoding
        a(href='#' + mp4File.encoding)
          span.name= mp4File.encoding
          span.size= mp4File.size
  ul.download-list.text
    for mp4File in mp4Files
      li.mp4
        a(href=mp4File.path + '?download' download)= mp4File.name
    for srtFile in srtFiles
      li.srt
        a(href=srtFile.path + '?download' download)= srtFile.name
  script(src='/assets/playback.js')
